@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primary-bg-color:#ffffff;
    --tile-color:#ededed;
    --secondary-bg-color:#080027;
    --primary-txt-color:#d7d7d7;
    --secodary-txt-color:#080027;
    --hover-links-color:#1792d2;
}
body{
    font-family: serif;
    background-color: var(--primary-bg-color);
}
/* ---------- utility ---------- */
.container{
    width: 90%;
    max-width: 1024px;
    margin:0 auto;
}
.tiles{
    background-color: var(--tile-color);
    box-shadow: 0px 1px 10px 0px var(--tile-color);
    margin-top: 2em;
    border-radius: 4px;
}
.sections-ptag{
    padding: 2em 1.1em;
    line-height: 1.6em;
    letter-spacing: 1px;
}
/* ---------- Typography ----------- */

h1{
    color: var(--primary-txt-color);
    font-weight: 400;
    font-size: 2rem;
} 
h2{
    font-size: 2rem;
   color: var(--secodary-txt-color);
}
h3{
    color: var(--secodary-txt-color);
    padding:1.1em;
    border-bottom: 2px solid;
    font-size: 1.3rem;
}
h4{
    color: var(--primary-txt-color);
    margin: 1em;
}
p{
    color: var(--secodary-txt-color);
}
a{
    text-decoration: none;
}
i{
    color: var(--secodary-txt-color);
    cursor: pointer;
    margin: .6em .3em;
    font-size: 1.2rem;
}
i:hover{
    color: var(--hover-links-color);
}

/* ---------- navigation bar ---------- */
header{
    padding: 1em 0;
    background-color: var(--secondary-bg-color);
}
.container-nav{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}
nav a{
    text-decoration: none;
    color: var(--primary-txt-color);
    font-weight: 700;
    padding: .25em 0;
}
nav a:hover{
    color: var(--hover-links-color);
}
/* hamburger menu */
.ham-menu{
    display: none;
}
.bar{
    width: 20px;
    height: 2px;
    display: block;
    margin: 5px auto;
    transition: 0.3s all ease-in-out;
    background-color: var(--primary-txt-color);
    transform-origin: left;
}
.ham-menu.active-menu .bar:nth-child(2){
    opacity: 0;
}
.ham-menu.active-menu .bar:nth-child(1){
    transform: translateY(0px)rotate(45deg);
}
.ham-menu.active-menu .bar:nth-child(3){
    transform: translateY(0px)rotate(-45deg);
}

/* ---------- main ---------- */

/* intro */
.intro{
    width: 100%;
    min-height: 374px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.intro-img {
    max-width:10em ;
    width: 40%;
}
.intro-img img{
    width: 100%;
    border-radius: 50%;
}
/* ---------- sections ---------- */

#about-section{
    width: 100%;
}
/* skills-section */
.skills-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 2em 1em;
    flex-wrap: wrap;
}
.skills-box{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    height: 76px;
    padding: 8px;
    border-radius: 4px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);

}
.skills-box img{
    width: 50%;
}
/* projects-section */
.project-link p{
    font-size: .8rem;
    margin-top: 0.8em;
}
.project-link h5{
    font-size: .9rem;
    margin-top: 0.8em;
}
.projects-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    padding: 2em 1em;
}
.project-link{
    width: 232px;
    height: 236px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  4px 4px 10px #d9d9d9, -4px -4px 10px #ffffff;
    padding: 1em .7em;
    border-radius: 4px;
    transition: .2s ease;
}
.project-link:hover{
    box-shadow: none;
}
.project-link img{
    width:100%;
}
.project-link{
    color: var(--secodary-txt-color);
}

/* ---------- footer ---------- */
footer{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--secondary-bg-color);
}
.footer-box{
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link{
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link i{
    color: var(--primary-txt-color);
    font-size: .8rem;
}


/* ---------- media queris ----------*/
@media (max-width:768px)
{   
    /* nav */
    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position:fixed;
        background-color: var(--secondary-bg-color);
        width: 100%;
        height: 100vh;
        top: 58px;
        right: -100%;
        padding: 3em 1em;
        transition: .1s ease-out;
    }
    nav ul.active-menu{
        right: 0%;
        width: 40%;
        font-size: .8rem;
    }
    .container-nav{
        flex-direction: row;
    }
    .ham-menu{
        display: block;
        cursor: pointer;
    }
    /* typography */
    h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1.6rem;
    }
    p{
        font-size: 1rem;
    }
    
}

@media (max-width:380px){

    /* typography */
    h1{
        font-size: 1rem;
    }
    h2{
        font-size: 1.3rem;
    }
    p{
        font-size: .8rem;
    }
    /* nav */
    nav ul.active-menu{
        width: 50%;
    }
}

                /* <------------------------------< END >------------------------------> */